{% extends 'home.html'%}

{% block content%}

<section class="p-4 p-lg-5 flex-grow-1">
    <div class="container-fluid px-0">
        <div class="menu">
            <aside class="sidebar">
                <nav>
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined">group</span>
                    <span class="">Cadastro Maquinas</span>
                </a>
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined">package_2</span>
                    <span class="">Cadastro Maquinas</span>
                </a>
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined">swap_horiz</span>
                    <span class="">Movimentações</span>
                </a>
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined"></span>
                    <span class="">Hanking</span>
                </a>

                </nav>
            </aside>
        </div>
    </div>
</section>
{% endblock content %}