{% extends 'home.html' %}


{% block content %}


<main class="container-xxl py-5">
    <section class="row align-items-center g-5 py-5">
        <div class="col-lg-5 hero-content-order">
            <div class="mb-4">

                <h1 class="display-4 fw-bold mb-3 lh-sm text-white"><span style="color: black;" class="">Encontre a máquina certa para sua obra</span>
                </h1>
                <p class="lead text-on-surface-variant mb-4">
                    Acesse o maior catálogo de maquinas do mercado atual.
                </p>
            </div>

        </div>
        <!-- Image Column -->
        <div class="col-lg-7 hero-image-order">
            <div class="container">
                <div class="form-group">
                    <form method="POST" action="/localizar">
                        <div class="form-group">
                            <label for="nome">Máquina</label>
                            <input type="text" id="nome" name="nome" placeholder="EX: Escavadeira" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Localização</label>
                            <input type="text" id="email" name="email" placeholder="Insira a localização" required>
                        </div>
                        <button type="submit" class="btn-submit">Procurar</button>


                    </form>


                </div>
            </div>
        </div>


    </section>
</main>

<style>

    .dashboard {
        background: #f3f3f3;
        min-height: calc(5vh - 20px);
        padding: 0;
    }

    .stats {
        margin-top: 35px;
    }

    .stat-card {
        background: white;
        border-radius: 15px;
        padding: 22px;
        border: 1px solid #e5e5e5;
        text-align: center;

    }

    .stat-card span {
        font-size: 32px;
        color: #b05311;
        margin-bottom: 8px;
    }

    .stat-card h3 {
        color: #222;
        font-size: 24px;
        font-weight: 800;
        margin: 0;
    }

    .stat-card p {
        color: #777;
        margin: 5px 0 0;
        font-size: 14px;
    }
</style>

<div class="dashboard">

    <div class="row g-4">

        <div class="col-md-4">

            <div class="stat-card">

                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>

                <h3>+100</h3>

                <p>Máquinas disponíveis</p>

            </div>

        </div>


        <div class="col-md-4">

            <div class="stat-card">

                    <span class="material-symbols-outlined">
                        verified
                    </span>

                <h3>Qualidade</h3>

                <p>Equipamentos selecionados</p>

            </div>

        </div>


        <div class="col-md-4">

            <div class="stat-card">

                    <span class="material-symbols-outlined">
                        support_agent
                    </span>

                <h3>Suporte</h3>

                <p>Atendimento especializado</p>

            </div>

        </div>

    </div>

</div>




{% endblock content %}